.Form {
  padding: 2em;
  max-width: 20em;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #eee;
}

.Form-control {
  margin: 1.5em 0;
}

.Form-control input[type="email"],
.Form-control input[type="password"],
.Form-control input[type="url"],
.Form-control textarea,
.Form-control select {
  display: block;
}

.Form-radioGroupHeader {
  margin: .5em 0 .25em 0;
}